{% block ongletsLeft %}
<!-- Onglets Left -->
<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <!--  Onglets pour TRAITEMENTS -->
    {% block li%}
      {% if listOnglets is defined %}
    {% for onglet in listOnglets %}
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="{{ onglet.getGlyphicon() }}"></i>
            <span class="nav-link-text">{{ onglet.getOnglet()}}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% for page in onglet.getPages() %}
        <a class="nav-link" href="{{ page.getUrl() }}">
            <i class="{{ onglet.getGlyphicon() }}"></i>
            <span class="nav-link-text">{{ page.getPage()}}</span>
        </a>
   {% endfor %}
{#     {% endif %}#}
    {% endfor %}    
  </ul>
{% endif %}
 </ul>
    {% endblock %}
</ul><!-- Fin Onglets Left -->
{% endblock %}