{% block ongletsLeft %}
<!-- Onglets Left -->
<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <!--  Onglets à gauche -->
    {% block li%}
      {% if listOnglets is defined %}
      <li class="nav-item dropdown"><a href="/" class="nav-link"> Accueil </a></li>
    {% for onglet in listOnglets %}
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="{{ onglet.getGlyphicon() }}"></i>
            <span class="nav-link-text">{{ onglet.getOnglet()}}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         <table class="table-bordered table-responsive">
         <tr>
        {% for page in onglet.getPages() %}
        <td><a class="nav-link" href="{{ page.getUrl() }}">
            <i class="{{ onglet.getGlyphicon() }}"></i>
            <span class="nav-link-text">{{ page.getPage()}}</span>
        </a></td>
        {% if loop.index%2 == 0 %}
        </tr>
        {% else %}
        {% endif %}
       {% endfor %}
       </table>
    {% endfor %}
   
        
            <li class="nav-item dropdown"><a href="/document" class="nav-link"> Documents </a></li>
            <li class="nav-item dropdown"><a href="/formation" class="nav-link"> Formations </a></li>
            
            <li class="nav-item dropdown"><a href="/tutoriel" class="nav-link"> Tutoriels </a></li>
            
            <li class="nav-item dropdown"><a href="https://www.gfi.world/fr/" class="nav-link"> GFI </a></li>
            
            <li class="nav-item dropdown"><a href="http://forumastrerh.gfi.fr/" class="nav-link"> Forum Astre RH </a></li>
		</div>
{% else %}

  	<li class="nav-item dropdown"><a href="/" class="nav-link"> Accueil </a></li>
  	<li class="nav-item dropdown"><a href="/document" class="nav-link"> Documents </a></li>
	<li class="nav-item dropdown"><a href="/formation" class="nav-link"> Formations </a></li>

	<li class="nav-item dropdown"><a href="/tutoriel" class="nav-link"> Tutoriels </a></li>

	<li class="nav-item dropdown"><a href="https://www.gfi.world/fr/" class="nav-link"> GFI </a></li>

	<li class="nav-item dropdown"><a href="http://forumastrerh.gfi.fr/" class="nav-link"> Forum Astre RH </a></li>
</ul>
{% endif %}
    {% endblock %}
<!-- Fin Onglets Left -->
{% endblock %}