{# src/doc/PlateformBundle/views/Document/upload.html.twig #}
{% extends "CoreBundle::abst.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
	<h1>Ajouter un document</h1>
	<table class="table table-striped">
		{{ form_start(form) }}
		<tr>
			<td>{{ form_row(form.documentFile) }}</td>
			<td><input class="btn btn-success" type="submit" value="Ajouter" />
			</td>
			<td><a class="btn btn-success"
				href="{{ asset('/document/see') }}">Voir les documents</a></td>
			{{ form_end(form) }}
		</tr>
	</table>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
