{# src/doc/PlateformBundle/views/Document/delete.html.twig #}
{% extends "CoreBundle::abst.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-12">
				<h1>Supprimer les documents</h1>
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Nom</td>
							<td colspan="2">Taille</td>
							<td></td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for document in listDocs %}
						<tr>
							<td>{{ document.getDocumentName() }}</td>
							<td colspan="2">{{ document.getDocumentSize() }} octets</td>
							<!--<td><a href="{{ vich_uploader_asset(document,'documentFile') }}">{{ document.getDocumentName() }} </a></td>-->
							<td><a class="btn btn-info"
								href="{{ asset('/document/download/') }}{{document.getId()}}"
								/ target=_blank>Voir</a></td>
							<td><a class="btn btn-danger"
								href="{{ asset('/document/delete/')}}{{document.getId()}}">Supprimer</a>
							</td>
							<!--
							 <td><a type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#myModal">Supprimer</a> 
								-->
							<!-- Modal -->

							<!--
							<div class="modal fade" id="myModal" role="dialog">
									<div class="modal-dialog">
							-->
							<!-- Modal content-->
							<!-- 
							<div class="modal-content">
											<div class="modal-body">
												<p>
													Voulez-vous supprimer ce document
													{{ document.getDocumentName() }}
													?
												</p>
											</div>
											<div class="modal-footer">
												<a class="btn btn-primary"
													href="{{ asset('/document/delete/')}}{{document.getId()}}">Oui</a>
												<a type="button" class="btn btn-default"
													data-dismiss="modal">Non</a>
											</div>
										</div>

									</div>
								</div>
								-->
							</td>
						</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="pagination justify-content-center">
			{{ knp_pagination_render(listDocs) }}
		</div>
	</div>
	{% endblock %}

	{% block javascripts %}
	{{ parent() }}
	{% endblock %}