{# src/doc/PlateformBundle/views/Tutoriel/addTutoriel.html.twig #}

{% extends "CoreBundle::abst.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-lg-12">
			<h1>Ajouter un tutoriel</h1>
			{{ form_start(tuto) }}
			{{ form_widget(tuto) }}
			{{ form_end(tuto) }}
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}	
