{# src/doc/PlateformBundle/views/tutoriel/indexTutoriel.html.twig #}

{% extends "CoreBundle::abst.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-lg-12">
			<h1>Gestion des tutoriels</h1>
			<table
				class="table table-sm table-responsive-sm table-active table-bordered">
				<tr class="table-active">
					<th colspan="3" align="center">Menu
					</td>
				</tr>
				<tr>
					<td><a class="dropdown-item"
						href="{{ asset('/tutoriel/see') }}">Voir les tutoriels</a></td>
				</tr>
				{% if app.user %}
				<tr>
					<td><a class="dropdown-item"
						href="{{ asset('/tutoriel/add') }}">Ajouter un tutoriel</a></td>
				</tr>
				<tr>
					<td><a class="dropdown-item"
						   href="{{ asset('/tutoriel/see') }}">Modifier un tutoriel</a></td>
				</tr>
				<tr>
					<td><a class="dropdown-item"
						href="{{ asset('/tutoriel/see') }}">Supprimer les tutoriels</a></td>
				</tr>
				{% endif %}
			</table>
		</div>
		<div></div>

		{% block docplatform_body %}
		{% endblock %}
	</div>
	{% endblock %}
	{% block javascripts %}
	{{ parent() }}
	{% endblock %}