{# doc/PlatformBundle/Resources/views/product.html.twig #}
{% extends "CoreBundle::abst.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-12">
				<a class="btn btn-success" href="{{ asset(urlPdf) }}"
					target=_blank>Imprimer</a><br><br>
	
				<h1>{{ menu }} : {{ page }}</h1>
                {% if is_granted('ROLE_GFI') %}
               <table
					class="table table-sm table-responsive-sm table-active table-bordered">
  					<a class="btn btn-link"data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
						Ajouter un champ</a>
			   </table>
			<div class="collapse" id="collapseExample">
  				<table class="table table-sm table-responsive-sm table-active table-bordered">
   					<tr>
						<td>Champ</td>
						<td>Numéro d'ordre</td>
					</tr>
					<form action="/addchamp" method="post">
					<input type="hidden" name="page_ref" value="{{ page }}">
					<tr>
						<td><input name="champ"></td>
						<td><input name="ordre"></td>
    					
    				</tr>
    				<tr>
    					<td>Origine</td>
    					<td>Format</td>
    				</tr>
    				<tr>
    					<td><input name="origine"></td>
    					<td><input name="format"></td>
    				</tr>
    				<tr>
    					<td colspan="2">Libellé</td>
    				</tr>
    				<tr>
    					<td colspan="2">
        					<textarea name="libelle" rows="6" cols="60"></textarea>
        				</td>
        			</tr>
        			<tr>
    					<td colspan="2"><input type="submit" class="button btn-success"
    							href="{{ asset('/addchamp') }}" value="Ajouter le champ dans la page : {{ menu }} : {{ page }}"></a>
						</td>
					</tr>
				</table>
			</div>
					
				<table
					class="table table-sm table-responsive-sm table-active">
					<tr class="table-active">
						<th colspan="4" align="center">Menu </td>
					</tr>
					<tr>
						{% for doss in listDoss %}
						<td><a class="dropdown-item"
							href="/seechamp/{{doss.getId() }}">{{ doss.getChamp() }}</a></td>
							<td><a class="fa fa-trash" style="font-size:30px;color:orange"
							href="/dropchamp/{{doss.getId() }}"></a></td>
						{% if loop.index%2 == 0 %}
					</tr>
					<tr>
						{% endif %}
						{% endfor %}
					</tr>
				</table>
					{% else %}
					<table
					class="table table-sm table-responsive-sm table-active table-bordered">
					<tr class="table-active">
						<th colspan="2" align="center">Menu </td>
					</tr>
					<tr>
						{% for doss in listDoss %}
						<td><a class="dropdown-item"
							href="/seechamp/{{doss.getId() }}">{{ doss.getChamp() }}</a></td>
						{% if loop.index%2 == 0 %}
					</tr>
					<tr>
						{% endif %}
						{% endfor %}
					</tr>
				</table>
				{% endif %}
	</div>
	</div>
	</div>
	</body>

	{% endblock %}

	{% block javascripts %}
	{{ parent() }}
	{% endblock %}