{# doc/PlatformBundle/Resources/views/product.html.twig #}
{% extends "CoreBundle::abst.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-12">
				<a class="btn btn-success" href="{{ asset(urlPdf) }}"
					target=_blank>Imprimer</a>
	
				<h1>{{ menu }} : {{ page }}</h1>
				<table
					class="table table-sm table-responsive-sm table-active table-bordered">
					<tr class="table-active">
						<th colspan="3" align="center">Menu </td>
					</tr>
					<tr>
						{% for doss in listDoss %}
						<td><a class="dropdown-item"
							href="/seechamp/{{doss.getId() }}">{{ doss.getChamp() }}</a></td>
						{% if loop.index%3 == 0 %}
					</tr>
					<tr>
						{% endif %}
						{% endfor %}
					</tr>
				</table>

				<!--{% for doss in listDoss %}
			<div id={{doss.getId() }}>
			<br>
			**************************************************************************************************************************
			<br>
			</div>
			<h3>Champ</h3>
			<p>{{ doss.getChamp() }}</p>
			{% if doss.getOrigine() %}
			<h3>Origine</h3>
			<p>{{ doss.getOrigine() }}</p>
			{% else %}
			{% endif %}
			
			{% if doss.getFormat() %}
			<h3>Format</h3>
			<p>{{ doss.getFormat() }}</p>
			{% else %}
			{% endif %}
			
			{% if doss.getLibelle() %}
			<h3>Libell&eacute;</h3>
			<p>{{ doss.getLibelle() }}</p>
			{% else %}
			{% endif %}
			
			{% if doss.getNum_ordre() %}
			<h3>Num&eacute;ro d'ordre</h3>
			<p>{{ doss.getNum_ordre() }}</p>
			{% else %}
			{% endif %}
			
			{% if doss.getCommentaires() %}
			<h3>Commentaire Client</h3>
			{#<p>{{ doss.getCommentaires() }}</p>#}
			{% else %}
			{% endif %}
			
			{% if doss.getTyp_don() %}
			<h3>Type de donn&eacute;es</h3>
			<p>{{ doss.getTyp_don() }}</p>
			{% else %}
			{% endif %}
			
			{% if doss.getDescr_typ_don() %}
			<h3>Description du type des donn&eacute;es</h3>
			<p>{{ doss.getDescr_typ_don() }}</p>
			{% else %}
			{% endif %}

			{% endfor %}--></div>
		</div>
		{#<div class="pagination justify-content-center">{{
		knp_pagination_render(listDocs) }}</div>#}
	</div>

	{% endblock %}

	{% block javascripts %}
	{{ parent() }}
	{% endblock %}