{# doc/PlatformBundle/Resources/views/product.html.twig #}
{% extends "CoreBundle::abst.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-12">
	
				<h1>{{ menu }} : {{ page }}</h1>
				<table class="table table-sm table-active table-bordered">
					<tr class="table-active">
						<th colspan="2" align="center">Menu </td>
					</tr>
					<tr>
						{% for page in listDoss %}
						
						<td><a class="dropdown-item"
							href="{{ page.getUrl() }}">{{ page.getPage() }}</a></td>
								{% if (page.getPage()|length) < 30 %}
						        {% if loop.index%2 == 0 %}
					 			</tr>
					 			{% endif %}
					        {% else %}
						        {% if loop.index%1 == 0 %}
								</tr>
						        {% endif %}
						<tr>
						    {% endif %}
						{% endfor %}
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}