{# src/doc/PlateformBundle/views/DossierAgent/seeChamp.html.twig #}
{% extends "CoreBundle::abst.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-12">
				<a class="btn btn-success"
					href="{{ asset('/pdfchamp/') }}{{ doss.getId() }}" target=_blank>Imprimer</a>
					<br><br>
				<h1>
					{{ doss.getChamp() }}
				</h1>
				<div id={{doss.getId() }}
					<p><span class="ordre"> Num&eacute;ro d'ordre : {{ doss.getNum_ordre() }}</span></p>
					<p><span class="champ" aria-label="champ d'Astre RH">{{ doss.getChamp() }}</span><span class="origine" aria-label="origine du champ"> {{ doss.getOrigine() }}</span> <span class="format" aria-label="format du champ"><sup>{{ doss.getFormat() }}</sup></span> : <span class="libelle">{{ doss.getLibelle() }}</span>
				</p>
				</div>
				
				{# si l'utilisateur est connecté, affichage du formulaire pour
				ajouter un commentaire #}
				{% if app.user %}
				<form action="/addcom" method="post">
					<input type="hidden" name="champs" value="{{ doss.getId() }}">
					<textarea name="nom" row="4" cols="60" onclick="this.value ='';" placeholder="Veuillez entrer votre commentaire ici"></textarea>
					<br><input type="submit" class="button btn-success"
						href="{{ asset('/addcom') }}" value="Ajouter le commentaire"></a>
				</form>
				{% endif %}
				<br>
				{# affichage de tous les commentaires du champ #}
				<ul class="list-group">
				{% for com in doss.getCommentaires() %}
				
				{% if app.user == com.getUser() %}
				<form action="/modcom" method="post">
					<input type="hidden" name="com" value="{{ com.getId() }}">
					<input type="hidden" name="champs" value="{{ doss.getId() }}">
					<li class="list-group-item list-group-item-info">
						<h4>{{ com.getUser() }} : {{ com.getUpdatedAt()|date('H:i:s d-m-y')}}</h4>
					</li>
					<textarea name="nom" row="4" cols="60">{{ com.getCommentaire() }} </textarea>
					<br><input type="submit" class="button btn-success"
						href="{{ asset('/modcom') }}" value="Modifier le commentaire"></a>
				</form>
				{% else %}
				<li class="list-group-item list-group-item-info">
					<h4>{{ com.getUser() }} : {{ com.getUpdatedAt()|date('H:i:s d-m-y')}}</h4>
				</li>
				<li class="list-group-item">
					<p>{{ com.getCommentaire()}}</p>
				</li>
				{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	{% endblock %}
	{% block javascripts %}
	{{ parent() }}
	{% endblock %}