{% extends "CoreBundle::abst.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-12">
				<h1>Consulter les formations </h1>
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Nom de la formation</td>
							<td>Début de la formation</td>
							<td>Fin de la formation</td>
						</tr>
					</thead>
					<tbody>
						{% for form in listform%}
						<tr>
							<td><p>{{ form.getNomForm() }}</p></td>
							<td><p><strong>{{ form.getDateDebut()|localizeddate('none','none','fr',null,'EEEE d MMMM Y')|title }}</strong> à
							{{ form.getDateDebut()|date(' H:i')}}</p></td>
							<td><p><strong>{{ form.getDateFin()|localizeddate('none','none','fr',null,'EEEE d MMMM Y')|title }}</strong> à
							{{ form.getDateFin()|date(' H:i')}}</p></td>
							<td><a class="fa fa-info-circle" style="font-size:30px;color:orange" href="/formation/see/{{ form.getId() }}"></a></td>
							<td><a class="material-icons" style="font-size:30px;color:red" href="/formation/del/{{ form.getId() }}">delete</a></td>
						</tr>
						{% endfor %}
					</tbody>
					</table>
					<div class="pagination justify-content-center">
			            {{ knp_pagination_render(listform) }}
					</div>
			</div>
		</div>
	</div>
</body>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}